@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    font-size: 1.8em;  
    font-weight: bold;
    color: red;
    text-align: center;  
}

.h2{
    font-size: 1.2em;  
    text-align: center;  
}
