@tailwind base;
@tailwind components;
@tailwind utilities;

.h1{
    font-size: 1.8em;  
    font-weight: bold;
    color: red;
    text-align: center;  
}

.h2{
    font-size: 1.2em;  
    text-align: center;  
}
.page {
    background: linear-gradient(90deg, hsl(214, 66%, 78%) 0%, #d190df 179.25%);
}

.text {
    text-align: center;
    font-size: 46px;
    color: red;

}

